:root {
  --main-bg-color: rgb(255, 255, 255);
  --task-bg-color: rgb(236, 236, 236);
  --new-task-color: rgb(49, 211, 49);
  --pending-task-color: rgb(73, 118, 240);
  --done-task-color: rgb(141, 141, 141);
  --text-color: darkolivegreen;
  --light-text-color: white;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: Geneva, Verdana, sans-serif;
  /* background-image: url(background.jpg);
  background-size: cover; */
}

i {
  font-size: 1.2rem;
}

i.bi-check-circle,
i.bi-arrow-right-circle,
i.bi-arrow-left-circle {
  margin-right: 1em;
  display: none;
}

.wrapper {
  margin: 20px 5%;
  min-width: 300px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 620px;
  min-width: 350px;
  margin: 20px 0;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: darkolivegreen;
}

header button,
.modal-content button {
  background-color: darkgreen;
  color: var(--light-text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#status-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#status-bar div {
  font-size: 18px;
  min-width: 100px;
  text-align: center;
}

#status-bar .status {
  color: var(--light-text-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 3px 5px;
  font-size: 18px;
  font-weight: 400;
  /* min-width: 120px; */
}

#status-bar div.new-task {
  background-color: var(--new-task-color);
}

#status-bar div.pending-task {
  background-color: var(--pending-task-color);
}

#status-bar div.done-task {
  background-color: var(--done-task-color);
}

#task-section {
  min-width: 680px;
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: nowrap;
}

#task-section .task-list {
  /* border: 1px solid red; */
  max-width: 30%;
}
#task-section .task-list.new {
  /* background-color: turquoise; */
}

#task-section .task {
  padding: 0;
  margin: 10px 5px;
  min-height: 100px;
  border: 1px solid darkolivegreen;
  border-radius: 8px;
  background-color: var(--task-bg-color);
}

#task-section .task .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--light-text-color);
  border-radius: 8px 8px 0 0;
}

#task-section .task .task-header i {
  cursor: pointer;
}

#task-section .task .task-body {
  color: rgb(82, 87, 76);
  padding: 5px;
  font-size: 13px;
}

.new .task-header {
  background-color: var(--new-task-color);
}

.pending .task-header {
  background-color: var(--pending-task-color);
}

.done .task-header {
  background-color: var(--done-task-color);
  text-decoration: line-through;
  font-weight: normal !important;
  font-style: italic;
}

/* ------------------MODAL--------------------------- */

/* The Modal (background) */
#createTaskModal,
#confirmDeleteModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  min-width: 290px;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px; /* Could be more or less, depending on screen size */
  text-align: center;
}

.modal-content h1 {
  font-size: 16px;
}

.modal-content input {
  display: block;
  height: 30px;
  width: 80%;
  margin: 10px 0;
  padding: 2px 5px;
}

/* The Close Button */
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: auto;
}

/* @media screen and (max-width: 900px) {
  #task-section .task {
    width: 45%;
  }
} */
@media screen and (max-width: 540px) {
  body {
    margin: 0;
  }
  i.bi-check-circle,
  i.bi-arrow-right-circle,
  i.bi-arrow-left-circle {
    display: inline;
  }
  header {
    min-width: 250px;
    justify-items: center;
  }
  header h1 {
    text-align: center;
  }
  #status-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  #status-bar .status {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    cursor: pointer;
  }
  #task-section {
    display: block;
    margin-top: 20px;
    min-width: auto;
  }
  #task-section .task-list {
    /* border: 1px solid red; */
    max-width: 100%;
  }

  #task-section .task {
    width: 100%;
    min-width: 250px;
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  #task-section .task .task-header {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #task-section .task div {
    margin-right: auto;
  }
  #task-section .task .task-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper {
    margin: 0;
  }
}
